---
export interface Props {
    icon: string;
    title: string;
    description: string;
    institution?: string;
    institutionLink?: string;
    period: string;
}

import { Icon } from "astro-icon/components";
const { title, description, institution, institutionLink, period, icon } = Astro.props;

---

<div class="carrer-card">
    <div class="title"> 
        <Icon name={icon}/>
        <span>{title}</span>
    </div>
    <div class="flex gap-1 items-center">
        <a class="underline text-white flex items-center" target="_blank" href={institutionLink}>{institution}</a>
        <span class="text-white">-</span>
        <p>{period}</p>
    </div>
    <p>{description}</p>
</div>

<style>
    .title {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 500;
        color: var(--white);
        font-size: 1.2rem;
        padding: .5rem 0rem;    
    }

    .title span {
        font-weight: 600;
    }

    div p {
        color: var(--color-secondary);
        padding: .2rem 0rem;
        max-width: 50rem;
    }
</style>